<h2 class="mb-2">Contact</h2>

<p>I call myself "Ascyt" pretty much everywhere. Here's all of my stuff:</p>
<ul class="list-group">
    <a href="https://ascyt.com/" target="_blank" class="list-group-item list-group-item-action">Website (you are here)<span class="url">https://ascyt.com/</span></a>
    <li class="list-group-item">Email: <b>contact<span style="font-size: 0;">&gt;&gt;!REMOVE_THIS!&lt;&lt;</span>&#64;ascyt.com</b></li>
    <a href="/github" target="_blank" class="list-group-item list-group-item-action">GitHub <span class="url">https://github.com/Ascyt</span></a>
    <a href="/youtube" target="_blank" class="list-group-item list-group-item-action">YouTube <span class="url">https://www.youtube.com/Ascyt</span></a>
    <li class="list-group-item">Discord: <b>&#64;ascyt</b></li>
</ul>

<p style="margin-top: 200px; color:rgba(0, 0, 0, 0.1); font-size: x-small;">imagine using light mode</p>