<h2 class="mb-2">Contact</h2>

<p>I call myself "Ascyt" pretty much everywhere. Here's all of my stuff:</p>
<ul class="list-group">
    <a href="https://www.ascyt.com/" target="_blank" class="list-group-item list-group-item-action" ngbTooltip="https://www.ascyt.com" placement="left">Website (you are here)</a>
    <li class="list-group-item">Email: <b>contact<span style="font-size: 0;">&gt;&gt;!REMOVE_THIS!&lt;&lt;</span>&#64;ascyt.com</b></li>
    <a href="/github" target="_blank" class="list-group-item list-group-item-action" ngbTooltip="https://github.com/Ascyt" placement="left">GitHub</a>
    <a href="/youtube" target="_blank" class="list-group-item list-group-item-action" ngbTooltip="https://www.youtube.com/Ascyt" placement="left">YouTube</a>
    <li class="list-group-item">Discord: <b>&#64;ascyt</b></li>
</ul>

<p style="margin-top: 485px; color:rgba(0, 0, 0, 0.1); font-size: x-small;">imagine using light mode</p>