<h2 class="mb-2">Home</h2>

<p class="text-left">Hey there! My name's Filip Schauer and I'm a {{getCurrentAge()}} year old programmer from Austria.</p>

<p class="text-left">You're currently looking at my personal website. 
    It's written in <a href="https://angular.io/" target="_blank" ngbTooltip="https://angular.io/">Angular</a>, hosted using <a href="https://netlify.com/" target="_blank" ngbTooltip="https://netlify.com/">Netlify</a> and you can find the source-code <a routerLink="/source" target="_blank" ngbTooltip="https://github.com/Ascyt/www">here</a>.
    Feedback is appreciated. </p>

<i class="text-left notice">Note that a cookie is used to save the current light/dark mode state.</i>