<div class="mt-4 mt-md-0">
<p class="text-left">Hey there! My name's Filip Schauer and I'm a {{getCurrentAge()}} year old programmer from Austria.</p>

<p class="text-left">You're currently looking at my personal website. 
    It's written in Angular, hosted using <a href="https://github.com/" target="_blank" ngbTooltip="https://github.com/">GitHub</a> and you can find the source-code <a routerLink="/source" target="_blank" ngbTooltip="https://github.com/ascyt/ascyt.github.io">here</a>.
    Feedback is appreciated. </p>
</div>